* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

:root {
    --x: 200;
    --y: 200;
}

.box {
    width: 100%;
    height: 100%;
    background: radial-gradient(150px at var(--x) var(--y), rgba(255, 249, 249, 0), rgba(0, 0, 0, 0.937));
    z-index: 9;
}

.box video {
   position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1; 
}